.intro
    overflow: hidden
    background: #051518
    z-index: -1
    &-list
        position: relative
        .flickity-page-dots
            position: absolute
            top: 50%
            right: 5vw
            display: flex
            flex-direction: column
            align-items: center
            justify-content: space-between
            transform: translateY(-50%)
            +r(sm)
                flex-direction: row
                top: 90%
                left: 50%
                justify-content: center
                transform: translateX(-50%)
            .dot
                display: inline-block
                width: 15px
                height: 15px
                border: 1px solid #FFF
                border-radius: 50%
                margin-bottom: 15px
                +r(sm)
                    margin-bottom: 0
                    margin-right: 15px
                &:hover
                    cursor: pointer
                &:last-child
                    margin-bottom: 0
                    +r(sm)
                        margin-right: 0
                &.is-selected
                    background: #FFF

.intro-item
    width: 100vw
    height: 100vh
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-end
    position: relative
    overflow: hidden
    box-sizing: border-box
    padding-bottom: 5vh
    +r(sm)
        padding-bottom: 20vh
    &__bg
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        object-fit: cover
        z-index: -1
    &__title
        opacity: 0.9
        color: #ffffff
        +rfs(62px)
        font-weight: normal
        text-align: center
        margin-top: 15px
        span
            font-weight: bold
    &__text
        opacity: 0.9
        color: #ffffff
        +rfs(48px)
        text-align: center
        margin-bottom: 22px
        span
            color: #0feb9e
    &__small
        opacity: 0.9
        color: #ffffff
        text-align: center
        +rfs(18px)
        position: relative
        margin-bottom: 30px
        &:after,
        &:before
            position: absolute
            content: ''
            width: 28px
            height: 1px
            top: 50%
            transform: translateY(+50%)
            background-color: #0feb9e
        &:after
            left: 110%
        &:before
            right: 110%

    &__social
        opacity: 0.9

.intro-social
    display: flex
    align-items: center
    &__item
        margin-right: 10px
        &:last-child
            margin-right: 0
        a
            display: block

.features
    padding: 77px 0 150px 0
    background-color: #f4f7f9

.fetures-items
    display: block
    position: relative
    .flickity-viewport
        overflow: hidden
    .flickity-page-dots
        position: absolute
        display: flex
        bottom: -50px
        left: 50%
        transform: translateX(-50%)
        .dot
                display: inline-block
                width: 10px
                height: 10px
                border: 1px solid #062033
                border-radius: 50%
                margin-right: 15px
                opacity: 0.2
                &:hover
                    cursor: pointer
                &:last-child
                    margin-right: 0
                &.is-selected
                    background-color: #062033
                    opacity: 1
    &__feat
        width: 30%
        margin: 0 3%
        +r(sm)
            width: 48%
        +r(xs)
            width: 100%

.fetures-feat
    box-sizing: border-box
    padding-left: 50px
    position: relative
    &__logo
        position: absolute
        left: 0
        top: 0
    &__title
        +rfs(20px)
        color: #062033
        font-weight: 400
        margin-bottom: 15px
    &__text
        opacity: 0.7
        +rfs(13px)
        line-height: 1.62
        color: #062033

.works
    padding: 50px 0 77px 0

.works-gallery
    &__nav
        margin-bottom: 30px

.works-nav
    display: flex
    justify-content: center
    align-items: center
    +r(sm)
        flex-wrap: wrap
    &__buttin
        border: none
        background: none
        +rfs(14px)
        font-weight: bold
        text-align: center
        margin-right: 15px
        color: #062033
        &:last-child
            margin-right: 0
        &.active
            background-color: #0eb493
            color: #ffffff
            border-radius: 4px
        +r(sm)
        margin-right: 5px
        margin-bottom: 10px

.works-grids
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    &__item
        width: calc(100% / 4)
        +r(lg)
            width: calc(100% / 3)
        +r(sm)
            width: calc(100% / 2)
        +r(xs)
            width: calc(100%)
            text-align: center
        &:hover
            .works-hover
                opacity: 0.9

.works-grid
    position: relative
    line-height: 0
    &__img
        display: inline-block
        max-width: 100%
        height: auto
    &__hover
        position: absolute
        width: 100%
        height: 100%
        left: 0
        top: 0

.works-hover
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    padding: 20px
    background-color: #0eb493
    opacity: 0
    transition: all 0.4s
    &__logo
        margin-bottom: 30px
    &__title
        +rfs(18px)
        font-weight: bold
        line-height: 1.33
        text-align: center
        color: #ffffff
        margin-bottom: 10px
    &__text
        +rfs(14px)
        line-height: 1.33
        text-align: center
        color: #ffffff

.team
    padding: 50px 0 150px 0

.team-people
    display: block
    position: relative
    .flickity-viewport
        overflow: hidden
    &__item
        width: 22%
        margin: 0 3%
        +r(lg)
            width: 30%
        +r(sm)
            width: 48%
        +r(xs)
            width: 100%
        
    .flickity-page-dots
        position: absolute
        display: flex
        bottom: -50px
        left: 50%
        transform: translateX(-50%)
        .dot
                display: inline-block
                width: 10px
                height: 10px
                border: 1px solid #062033
                border-radius: 50%
                margin-right: 15px
                opacity: 0.2
                &:hover
                    cursor: pointer
                &:last-child
                    margin-right: 0
                &.is-selected
                    background-color: #062033
                    opacity: 1

.team-item
    position: relative
    text-align: center
    &:hover
        .team-item__hover
            opacity: 0.8
        .team-item__name
            color: #0eb493
    &__block
        position: relative
        display: 
        width: 100%
        margin-bottom: 15px
        line-height: 0
    &__img
        display: inline-block
        max-width: 100%
        height: auto
    &__hover
        box-sizing: border-box
        position: absolute
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        width: 100%
        height: 100%
        left: 0
        top: 0
        padding: 23px
        opacity: 0
        transition: all 0.4s
        background-color: #0eb493
        padding: 15px
    &__name
        +rfs(18px)
        font-weight: 600
        line-height: 1.33
        text-align: center
        color: #062033
    &__position
        opacity: 0.56
        +rfs(13px)
        line-height: 1.85
        text-align: center

.team-hover
    &__title
        +rfs(16px)
        line-height: 1.5
        color: #ffffff
        font-weight: bold
    &__intro
        +rfs(16px)
        line-height: 1.5
        color: #ffffff
        margin-bottom: 10px
    &__cosials
        display: flex
        width: 100%
        justify-content: center

.team-socials
    &__link
        margin-right: 10px
        width: 42px
        height: 42px
        &:last-child
            margin-right: 0
        a
            display: flex
            justify-content: center
            align-items: center
            width: 100%
            height: 100%
            background-color: #0eb493
            opacity: 0.95
            img
                display: inline-block

.facts
    background: url('../img/bg-main.png') 0 0 no-repeat
    background-size: cover
    padding: 100px 0
    +r(xs)
        padding: 100px 0 50px 0

.facts-item
    display: flex
    justify-content: space-between
    align-items: stretch
    +r(xs)
        flex-wrap: wrap
    &__fun
        width: 20%
        text-align: center
        +r(xs)
            width: 48%
            margin-bottom: 50px

.fact-fun
    &__img
        display: inline-flex
        align-items: center
        justify-content: space-around
        width: 130px
        height: 130px
        border: 1px solid #ffffff
        border-radius: 50%
        margin-bottom: 10px
        +r(sm)
            width: 100px
            height: 100px
    &__number
        +rfs(60px)
        font-weight: 600
        text-align: center
        color: #ffffff
    &__text
        +rfs(18px)
        text-align: center
        color: #ffffff
        margin-top: 10px

.discuss
    padding: 77px 0

.discuss-content
    display: flex
    justify-content: space-between
    align-items: stretch
    +r(sm)
        flex-wrap: wrap

.discuss-address
    +rfs(13px)
    line-height: 1.45
    font-style: normal
    color: #062033
    width: 245px
    margin-right: 30px
    +r(sm)
        order: 2
        width: 100%
        text-align: center
        margin-right: 0
    &__title
        +rfs(22px)
        text-align: left
        color: #062033
        margin-bottom: 10px
        +r(sm)
            text-align: center
    a
        text-decoration: none
        color: #6a737b
        display: block

.discuss-form
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    +r(sm)
        order: 0
        width: 100%
        margin-bottom: 40px
    &__title
        +rfs(24px)
        font-weight: bold
        text-align: left
        color: #062033
        +r(sm)
            text-align: center
    &__input
        border: none
        border-bottom: 1px solid #000
        opacity: 0.2
        +rfs(13px)
        margin-bottom: 15px
        +r(xxs)
            width: 100%
            text-align: center
            padding: 10px 15px
    &__button
        margin-left: auto
        background: none
        border: none
        +rfs(16px)
        color: #000000
        display: inline-flex
        align-items: center
        +r(xxs)
            margin: auto
        img
            display: inline-block
            margin-right: 10px


.discuss-socials
    margin-left: 30px
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    +r(sm)
        order: 1
        width: 100%
        flex-direction: row
        justify-content: center
        margin-bottom: 40px
        margin-left: 0
    &__link
        margin-bottom: 5px
        +r(sm)
            margin-bottom: 0
            margin-right: 0
        &:last-child
            margin-bottom: 0
            margin-right: 0
        a
            display: block